*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: grey;
}
li{
    border: solid black 2px;
    padding: 10px;
    cursor: pointer;
}
li:hover{
    /* animation: filling 2s;
    transform: translateY(10px);
    background: black; */
    color: white;
    animation: 0.1s filling infinite;
}
@keyframes filling {
    from {
        transform: translateY(0%);
        filter: brightness(75%);
      }
      to {
        transform: translateY(100%);
        background-color: black;
        /* unset properties i.e. 'filter' will revert to default values */
      }
}